:root {
	--color-accessory: #0084fd;
	--color-primary: #9792e4;
	--color-secondary: #ffffff;
	--color-contrast: #fdc15f;
	--color-dark: #333333;
	--color-accessory-light: #b5ddff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-secondary);
}
ul{
    list-style-type: none;
}


/* utiliy */


.debug{
    border: 1px solid black;
}
.container{
    padding: 5px;
}
.col{
    padding: 10px;
}

/* border-radius */

.small-radius{
    border-radius: 10px;
}
.big-radius{
    border-radius: 20px;
}
.circle-radius{
    border-radius: 50%;
}
.padding-lat5{
    padding: 0 5px;
}
.padding-lat10{
    padding: 0 10px;
}

/* backgrounds */

.bg-primary{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-accessory{
    background-color: var(--color-accessory);
}
.bg-accessory-light{
    background-color: var(--color-accessory-light);
}
.bg-dark{
    background-color: var(--color-dark);
}

/* text color decoration and transform */

.text-contrast{
    color: var(--color-contrast);
}
.text-primary{
    color: var(--color-primary);
}
.text-secondary{
    color: var(--color-secondary);
}
.text-primary{
    color: var(--color-primary);
}
.text-underline{
    text-decoration: underline;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}


/* buttons */

.btn{
    padding: 6px 15px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

/* header */

/* main */

/* footer */