:root {
	--color-accessory: #0084fd;
	--color-primary: #9792e4;
	--color-secondary: #ffffff;
	--color-contrast: #fdc15f;
	--color-dark: #333333;
	--color-accessory-light: #b5ddff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-secondary);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h3{
    font-size: 1.8em;
}

/* utiliy */


.debug{
    border: 1px solid black;
    min-height: 20px;
}
.container{
    padding: 5px;
}
.col{
    padding: 15px;
}
/* dimension */

.width100{
    width: 100%;
}
/* image */

.img-fluid{
    width: 100%;
}
.p-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* flex */

.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}


/* border-radius */

.small-radius{
    border-radius: 15px;
}
.big-radius{
    border-radius: 25px;
}
.circle-radius{
    border-radius: 50%;
}

/* padding - margin */
.padding-lat5{
    padding: 0 5px;
}
.padding-lat10{
    padding: 0 10px;
}
.padding-top50{
    padding-top: 50px;
}
.padding-bottom50{
    padding-bottom: 50px;
}
.padding-y20{
    padding: 20px 0;
}
.padding-all25{
    padding: 25px;
}
.padding-all10{
    padding: 10px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-50{
    margin-top: 50px;
}
.my-20{
    margin: 20px 0;
}

/* backgrounds */

.bg-primary{
    background-color: var(--color-primary);
}
.bg-secondary{
    background-color: var(--color-secondary);
}
.bg-accessory{
    background-color: var(--color-accessory);
}
.bg-accessory-light{
    background-color: var(--color-accessory-light);
}
.bg-dark{
    background-color: var(--color-dark);
}

/* text color decoration and transform */

.text-contrast{
    color: var(--color-contrast);
}
.text-primary{
    color: var(--color-primary);
}
.text-secondary{
    color: var(--color-secondary);
}
.text-accessory{
    color: var(--color-accessory);
}
.text-underline{
    text-decoration: underline;
}
.text-uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}
.text-height{
    line-height: 1.5em;
}
.text-space{
    letter-spacing: 3px;
}
.italic{
    font-style: italic;
}

/* buttons */

.btn{
    padding: 6px 15px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}
.btn.bg-accessory{
    padding: 8px 50px;
}

/* header */

#logo img{
    width: 70px;
}
/* main */

.card-container{
    padding: 20px;
}
.img-container.phone{
    position:relative;
    top: 30px;
}
h2.strategic{
    font-size: 2.2em;
}
#planning span.circle-radius{
    display: inline-block;
    width: 80px;
    height: 80px;
}
/* footer */


/* media queries */

@media screen and (min-width: 576px) {
    .col{
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin: 0 auto;
    }
    .col .card{
        width: calc(100% / 3);
    }

    .col .card:first-child{
        width: calc((100% / 3)*2);
    }
    .col .card:nth-child(2)>div{
        height: 100%;
    }
        
}